@import '../../css//templates.scss';

.movie-card {
   @extend %borders;
   border-radius: 8px;

   overflow: hidden;

   cursor: pointer;

   &__img {
      width: 100%;


      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__body {
      padding: 15px 10px;
   }

   &__title {
      padding: 10px 0;
      font-weight: 600;
   }

   &__text {
      color: var(--ui-text);
   }

   &__rating {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      color: rgb(240, 156, 60);
      font-size: 24px;
      margin-bottom: 10px;

      &-num {
         font-weight: 500;
         font-size: 20px;

         margin-left: 0.3rem;
      }

   }

}