@import "../../css//templates.scss";



.header {
   &__row {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;

      @extend %borders;

      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 25px 50px;
   }

   &__logo {
      color: var(--colors-text);
      font-size: 24px;
      font-weight: 800;
   }
}