@import "../../css//templates.scss";



.header {
   &__row {
      @extend %borders;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 25px 50px;
      margin-bottom: 20px;
   }

   &__logo {
      color: var(--colors-text);

      font-size: 24px;
      font-weight: 800;

      cursor: pointer
   }
}

@media screen and (max-width: 545px) {
   .header {
      &__row {
         padding: 25px 20px;
      }

      &__logo {
         font-size: 18px;
      }
   }

}